/* Global Styles */

// 历史遗留样式类 start
.label {
  color: @font-color-2;
}
.form-label {
  color: @font-color-2;
}
// 历史遗留样式类 end

// 变量
@font-color-1: rgba(0, 0, 0, .87);
@font-color-2: rgba(0, 0, 0, .6);
@font-color-3: rgba(0, 0, 0, .38);
@font-color-4: #2196f3;
@font-color-5: #ff5252;
// background: rgb(234, 242, 253);

body {
  font-size: 14px;
  line-height: 1.5;
  color: @font-color-1;
  -webkit-font-smoothing: antialiased;
}

// 文字提示
.text-note {
  font-size: 10px;
  color: @font-color-3;
}

/********** 编辑器样式 Start **********/
.component-lib,
.component-layer,
.prop-config,
.event-config,
.style-config,
.animation-config,
.page-config {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .el-collapse-item__header {
    padding-left: 10px;
    color: @font-color-2;
    font-size: 14px;
  }

  .el-collapse-item__content {
    padding: 10px;
    font-size: 14px;
  }

  .form-item_label {
    width: 90px;
  }
}

.component-lib,
.component-layer,
.event-config,
.style-config {
  max-height: calc(100vh - 45px);
}

.prop-config,
.animation-config,
.page-config {
  max-height: calc(100vh - 72px);
  padding: 14px 10px;
}
/********** 编辑器样式 End **********/


/********** 覆盖 element plus 某些样式 Start **********/
.el-form-item__label {
  color: @font-color-2;
}

.el-input__inner {
  color: @font-color-1;
}

.el-radio__label {
  font-weight: initial;
  color: @font-color-1;
}

.el-select {
  width: 100%;
}

.el-table {
  color: @font-color-1;
  
  thead {
    color: @font-color-2;
  }
  
  th.el-table__cell > .cell {
    font-weight: 500;
  }
}
/********** 覆盖 element plus 某些样式 End **********/


/********** 图标操作按钮 Start **********/
.icon-box {
  display: flex;
  align-items: center;
  width: 16px;
  cursor: pointer;

  &:hover {
    color: #409eff;
  }
}

.icon-box-delete {
  &:hover {
    color: #ff5252;
  }
}

.icon-box-tips {
  color: #888;
}
/********** 图标操作按钮 End **********/


/********** 表单 Start **********/
.form-item {
  width: 100%;
}

.form-item--inline {
  display: flex;
  flex-direction: row;
  align-items: center;

  .form-item_label {
    // width: 90px;

    .icon-box-tips {
      display: inline-block;
    }
  }

  .form-item_content {
    flex: 1;
  }
}

.form-item_label--top {
  margin-bottom: 8px;
}

.form-item_label--right {
  padding-right: 12px;
  text-align: right;
}

.form-item_label {
  color: @font-color-2
}

.form-item_content {
  width: 100%;
}

// 必填和校验
abbr {
  color: #f56c6c;
}

.invalid {
  position: absolute;
  margin-top: 4px;
  font-size: 10px;
  color: #f56c6c;
}
/********** 表单 End **********/


/********** 表格 Start **********/

/********** 表格 End **********/


/********** 模态框 Start **********/
.el-dialog__body {
  color: @font-color-1;
}

// 蒙层
.overlay {
  background-color: rgba(33, 33, 33, .46);
}
/********** 模态框 end **********/


/********** 选项组 Start **********/
.list-head {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 32px;
  
  .list-head_label {
    flex: 1;
    color: @font-color-2
  }

  .icon-box {
    visibility: hidden;
  }
}
.list-body {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
/********** 选项组 end **********/